{{ attach_library('arky8/four_zero') }}

<main id="four_zero" class="four-zero">
	{% if page.header %}
	<header id="header" class="header"> 
      	{{ page.header }}  
  	</header>
	{% endif %} 

	{% if page.content %}
	<section id="main" class="main">
		<div class="main-banner"></div>
		{{ page.content }} 
	</section>
	{% endif %} 
</main>