{{ attach_library('arky8/user_intranet') }}

<main id="my_intranet" class="my-intranet">
	{% if page.header %}
	<header id="header" class="header"> 
      	{{ page.header }}  
  	</header>
	{% endif %} 

	{% if page.content %}
	<section id="main" class="main"> 
		{{ page.content }} 
	</section>
	{% endif %}

	{% if page.footer %}
	<footer id="footer" class="footer"> 
	    {{ page.footer }} 
	</footer>
	{% endif %}
</main>