/**
 * Form elements.
 */
form {
  margin: 0;
  padding: 0;
}

fieldset:not(.fieldgroup) {
  display: flex;
  background-color: #f5f5f5;
  border: none;
  margin: 0 0 20px 0;
  padding: 55px 20px 20px 20px;
  min-width: 0;
  position: relative;
}

fieldset:not(.fieldgroup) .form-type-checkbox {
  margin-bottom: 10px;
}

fieldset:not(.fieldgroup) fieldset:not(.fieldgroup) {
  padding-left: 0;
  padding-right: 0;
}

/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
@-moz-document url-prefix() {
  fieldset:not(.fieldgroup) {
    display: table-cell;
    box-sizing: border-box;
  }
}
fieldset:not(.fieldgroup) > legend {
  font-size: 14px;
  color: #0678be;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  top: 15px;
}
.fieldgroup {
  min-width: 0;
}
/**
 * We've temporarily added this Firefox specific rule here to fix fieldset
 * widths.
 * @todo remove once this Mozilla bug is fixed.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=504622
 */
@-moz-document url-prefix() {
  .fieldgroup {
    display: table-cell;
    box-sizing: border-box;
  }
}
.form-item {
  margin: 0 0 20px 0;
  max-width: 100%;
  box-sizing: border-box;
}

.form-item > .form-item {
  margin: 0;
}

table .form-item {
  margin: 0;
}

.form-type-checkbox {
  padding: 0;
  width: auto;
}

.form-type-checkbox label {
  font-weight: 400;
}
label {
  display: table;
  margin: 0 10px 5px 0;
  padding: 0;
  font-weight: 700;
}
label.error {
  color: #a51b00;
}
label[for] {
  cursor: pointer;
}

.form-actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-wrapper .form-actions {
  display: inline-block;
}

.views-form .form-actions,
.form--inline .form-actions
 {
  margin: 0 0 0 0;
  position: relative;
  width: auto;
  border: none;
  padding: 0;
  z-index: 1;
}

table .form-actions {
  margin-top: 0;
}

@media screen and (min-width: 640px) {
  .form-actions {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
  }

  .form-actions {
    padding: 20px;
    position: fixed;
    left: 0;
    bottom:0;
    background: white;
    border-top: 1px solid #f5f5f5;
    width: 100%;
    z-index: 999;
  }
  .form-wrapper .form-actions {
    padding: 10px 0 0 0;
    position: relative;
    background: transparent;
    border-top: 0;
  }
}
.confirmation .form-actions {
  display: flex;
  margin-top: 10px;
}

.form-item label.option {
  text-transform: none;
  display: inline;
  margin-left: 5px;
  font-weight: 400;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled label {
  color: #686868;
}
.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-search,
.form-disabled input.form-number,
.form-disabled input.form-color,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  border-color: #d4d4d4;
  background-color: hsla(0, 0%, 0%, 0.08);
  box-shadow: none;
  color: #777;
  width: auto;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border-width: 1px;
  border-color: #e62600;
  background-color: hsla(15, 75%, 97%, 1);
  color: #a51b00;
}
.form-item textarea.error + .cke {
  border-width: 1px;
  border-color: #e62600;
}
.form-item input.error:focus,
.form-item textarea.error:focus,
.form-item select.error:focus {
  border-color: #e62600;
  outline: transparent;
  background-color: #fcf4f2;
}
.form-required::after {
  content: '*';
  color: #e32700;
  margin-left: 4px;
}
.form-item--error-message {
  margin-top: 0.15em;
  color: #e32700;
}
.fieldset-wrapper > .form-item--error-message {
  margin-top: 0;
}
.text-format-wrapper .form-item--error-message {
  border: solid #ccc;
  border-width: 0 1px;
  margin: 0;
  padding: 0.25em 0.666em 0;
}

/* Filter */
ul.tips,
.form-wrapper .description,
.form-item .description {
  margin: 0;
  color: #333;
  font-size: 12px;
  line-height: 18px;
  padding-top: 5px;
}

.form-wrapper td.description {
  padding-top: 20px;
}

div.description {
  margin: 0;
  color: #333;
}

.form-item .description.error {
  margin-top: 0;
  color: #a51b00;
}

.form-item .description ul {
  margin: 0 0 0 20px;
  padding: 0;
}

.description .token-dialog {
  margin: 0;
}

.token-dialog {
  display: inline-flex;
  margin: 5px 10px 20px 0;
}

ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
[dir="rtl"] ul.tips li {
  margin: 0.25em 1.5em 0.25em 0;
}

table .form-type-radio,
table .form-type-checkbox {
  padding-left: 0;
}

.form-type-radio,
.form-type-checkbox {
  padding-left: 25px;
}

[dir="rtl"] .form-type-radio,
[dir="rtl"] .form-type-checkbox {
  padding-left: 0;
  padding-right: 25px;
}

.form-type-checkbox .form-checkbox,
.form-type-radio .form-radio,
.form-type-checkbox .dummy-checkbox {
  margin-left: -25px;
}

table .form-type-checkbox .form-checkbox,
table .form-type-radio .form-radio,
table .form-type-checkbox .dummy-checkbox {
  margin-left: 0;
}

.text-summary-wrapper .form-textarea-wrapper {
  display: flex;
}

.text-summary {
  width: 100%;
}

.form-autocomplete,
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-date,
.form-time,
.form-textarea,
.form-select {
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid #d1d1d1;
  color: #333;
  background: #fcfcfa;
  min-height: 40px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  min-width: 240px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
}

.form-select {
  cursor: pointer;
  background: #fcfcfa url(../../images/icons/787878/twistie-down.svg) no-repeat center right 10px;
  background-size: 11px;
  min-width: 280px;
  padding: 9px 28px 9px 12px;
}

.form-select[multiple] {
  background-image: none;
}
.tabledrag-hide .form-select {
  width: 60px;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus,
.form-select:focus {
  border-color: #40b6ff;
  outline: transparent;
  background-color: #fff;
}

.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-options-group-info-identifier,
.form-item-pass .description {
  clear: both;
}

.field-suffix {
  margin: 0;
  line-height: 38px;
  width: 100%;
  padding: 0;
  flex-shrink: 0;
}

.field-prefix {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.field-prefix span {
  margin: 0 5px;
}

.form-item-path {
  display: block;
}

.form-item-path label::after {
  content: ':';
  margin-left: 0;
  color: #333;
}

.field-weight,
.menu-weight {
  min-width: 60px;
  width: 60px;
}

.field-ui-field-storage-add-form .field-prefix .field-suffix {
  display: none;
}

@media screen and (min-width: 640px) {
  .form-select {
    min-width: 280px;
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .form-actions input,
  .form-wrapper input[type="submit"] {
    margin-right: 0;
    width: 100%;
  }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-left: 0;
  }

  details summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .password-strength {
    width: 100%;
  }
  .form-item .password-suggestions {
    float: none;
  }
  #dblog-filter-form .form-actions {
    float: none;
    padding: 0;
  }
  #edit-cancel {
    display: block;
    margin: 10px 0 0 0;
  }
}

/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}

abbr.tabledrag-changed {
  border-bottom: none;
  text-decoration: none;
  margin: 0 2px;
}

.form-item-config-name {
  position: relative;
}

.form-item-config-name .ajax-progress {
  position: absolute;
  top: 15px;
  left: 300px;
}

/* confirmation form */
.confirmation .item-list ul {
  margin-left: 0;
  padding-left: 20px;
}

/* uninastll form */
.system-modules-uninstall table thead tr th:nth-child(2) {
  width: 20%;
}
