.inside-product .container.container-right {
    margin-top: 0;
}
.warmichic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.warmichic-header {
    flex-basis: 100%;
    min-width: 100%;
    margin-top: 2rem;
}
.warmichic-footer {
    flex-basis: 100%;
    min-width: 100%;
}

.warmichic-izquierda,
.warmichic-derecha {
    flex-basis: 100%;
    margin-bottom: 2rem;
    min-width: 100%;
    text-align: center;
}
.warmichic-derecha {  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 600px) {
.warmichic-header {
    display: none;
}
.warmichic-izquierda {
    flex-basis: 45%;
    min-width: 45%;
}
.warmichic-derecha {
    flex-basis: 55%;
    min-width: 55%;
    padding-left: var(--warmi-space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-top: 8vh;
    padding-bottom: 5vh;
}
}

[class*='warmichic--'] {
    margin-top: 1rem;
}
.warmichic--titulo {
    font-size: 2.75em;
}
.warmichic--precio {
    color: var(--warmi-ocean);
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 2rem;
}

[class*='warmichic--'] h5 {
    font-size: 16px;
}

.warmichic--variacion .attribute-widgets fieldset {
    margin-top: 1rem;
    margin-bottom: 0;
}
.warmichic--variacion .attribute-widgets fieldset:first-child {
    margin-top: 0;
}
.warmichic--variacion legend,
.warmichic--variacion label {
    border: 0;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}
.warmichic--variacion [class*="-attribute-talla"] label {
    border: 0; 
    border: 2px solid transparent; 
    font-size: 14px;
    min-width: 1rem;
    width: 30px;
    height: 30px;    
    text-align: center;
    cursor: pointer;
    margin-right: .5rem;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s border-color;
}
.warmichic--variacion [class*="-attribute-talla"] input:checked + label {
    border-color: var(--warmi-ocean);
}

.warmichic--variacion [class*="-attribute-color"] label {
    border: 0; 
    cursor: pointer;
    margin-right: .5rem;
}
.warmichic--variacion [class*="-attribute-color"] input:checked + label .color_field__swatch {
    border: 2px solid transparent;
    transition: .3s border-color;
}
.warmichic--variacion [class*="-attribute-color"] input:checked + label .color_field__swatch {
    border-color: var(--warmi-ocean);
}
.warmichic--variacion .form-actions {
    margin-top: 0;
}

.warmichic--variacion [class*="ajax"] {
    position: absolute;
    left: 0;
    top: 0;
}
.warmichic--variacion input[type="number"] {
    width: auto;
    max-width: 100px;
    padding: .5rem;
    text-align: center;
}

.warmichic--variacion input[type="submit"],
.btn {
    background-color: red;
    border: 0;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    padding: .75rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-width: 240px;
}
.warmichic--condicion div div {
    font-size: 13px;
}
.warmichic--condicion div div::before {
    content: '😍';
    margin-right: .5rem;
}

.warmichic--compartir {
    border-bottom: 1px solid var(--warmi-bg-dark);
    padding-bottom: 3rem;
}
.warmichic--compartir ul {
    display: inline-block;
    margin-top: 1rem;
    width: 100px;
}
.warmichic--compartir li {
    display: inline;
    margin-right: .5rem;
}
.warmichic--compartir svg {
    max-height: 1.5rem;
    display: inline-block;
    max-width: 24px;
    width: auto;
}

@media (max-width: 599px) {
.warmichic-derecha .breads,
.warmichic-derecha .warmichic--titulo { 
    display: none;
}  
.warmichic-derecha .warmichic--precio {
    margin-top: 0;
    margin-bottom: 0;
}
}

@media (min-width: 1024px) {
.warmichic {
    padding-top: 4.5rem;
}
.warmichic .attribute-widgets {
    display: flex;
    flex-direction: row;
}
.warmichic--variacion .attribute-widgets fieldset {
    margin-top: 0;
    margin-right: 1rem; 
}
}

/* RESUMEN */
.relacionados {
    padding-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--warmi-bg-dark);
}