.maintenance {
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 5rem;
    color: #777;
}

header {
	flex-basis: 100%;
	min-width: 100%;
	text-align: center;
	background-color: white;
}
.header a {
    background-color: white;
    display: inline-block;
    margin: auto;
    padding: .5rem .25rem;
    width: 240px;
}
.header a img {
	max-width: 240px;
}

.main { 
    text-align: center;
    max-width: 70vw;
    margin: auto;
}
.main-banner {
    min-width: 70vw;
    min-height: 40vh;
    background-image: url(https://images.pexels.com/photos/53604/bus-stop-bus-waiting-john-cleese-53604.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    margin: auto;
        margin-bottom: auto;
    display: block;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color: rgba(84,153,48,.75);
    margin-bottom: 5vh;
}
.main h1 {
    font-size: 27px;
    font-weight: 700;
    display: block;
    line-height: 1;
}
.main p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1;
    letter-spacing: 1px;
}
.main .btn {
    border: 0;
    padding: .75rem 1.5rem;
    text-transform: none;
    margin-top: 2rem;
    background-color: #DED325;
    color: green;
    font-weight: 400;
    font-family: lato;
    display: inline-block;
    font-size: 16px;
    transition: .25s color, .25 background-color;
}
.main .btn:hover {
	color: #1b1b1b;
	background-color: #9BB71A;
}