.mainpage-node .title {
    color: var(--warmi-link);
    font-size: 11vw;
    position: relative;
    z-index: 2;
}

@media(min-width: 900px) {
.mainpage-node {
    margin-right: calc(5*var(--warmi-space));
}
.mainpage-node .title {
    font-size: 8vw;
    margin-top: 25vh;
}
.mainpage-page .title {
    bottom: -1rem;
    margin-top: 20vh;
    line-height: .75;
}

}

form:not(.bef-exposed-form):not([class*='add-to-cart']) {
    max-width: 100%;
    padding: 2rem;
    background-color: rgba(57,154,176,.125);
}
.inside-cart .cart-form form {
    max-width: 100%;
}
fieldset {
    margin-bottom: 2rem;
}
legend {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px dashed var(--warmi-text);
    text-transform: uppercase;
    line-height: 1;
}
fieldset fieldset legend {
    border-bottom: 0;
    font-size: 16px;
    margin-top: 1rem;
}
label {
    display: block;
    font-weight: 700;
    font-size: 13px;
    margin-top: 1rem;
}
input[type="radio"] + label {
    display: inline-block;
    margin-top: 0;
}
input[type="email"], 
input[type="text"], 
input[type="number"], 
input[type="tel"],
input[type='url'],
textarea {
    border: 0; 
    border-bottom: 1px solid var(--warmi-text);
    background-color: rgba(255,255,255,.25);
    width: 100%;
    font-family: inherit;
    color: var(--warmi-text);
    padding: .5rem 0;
}
.inside-cart input[type="number"] {
    max-width: 100px;
    text-align: center;
}
:not(.bef-exposed-form):not([class*='add-to-cart']) select {
    border: 1px solid var(--warmi-text);
    background-color: rgba(255,255,255,.25);
    padding: .5rem;
    width: 100%;
}
.mainpage .bef-exposed-form select {
    width: auto;
}
.form-actions {
    margin-top: 1rem;
}
.button {
    background-color: var(--warmi-text);
    border: 0;
    padding: 1rem 2rem;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
}

div.address-container-inline > .form-item {
    width: 100%;
}