.delete-order-item {
    background-image: url(../icon/remove.svg);
    background-color: transparent;
    text-indent: -9999em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    cursor: pointer;
}
#edit-checkout {
    background-color: red;
}

#edit-actions-next + a {
    margin-left: 1rem;
    font-weight: 700;
    border-bottom: 4px solid var(--warmi-text);
}

@media (max-width: 599px) {
.cart-form thead {
    display: none;
}
.cart-form table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--warmi-text);
    align-items: center;
}
.cart-form table td {
    flex-basis: calc((100% - 40px)/3);
    justify-content: normal;
    padding-top: 0;
    border: 0;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
}
.cart-form table td:first-child {
    flex-basis: 100%;
    min-width: 100%;
    padding-top: 1rem;
    padding-bottom: 0;
}
.cart-form table td:nth-child(2)::before,
.cart-form table td:nth-child(4)::before {
    content: 'Precio Unitario';
    font-size: 9px;
    font-weight: 700;
    display: block;
    line-height: 1;
}
.cart-form table td:nth-child(4)::before {
    content: 'Total';
}
.cart-form table td:last-child {
    flex-basis: 34px;
    min-width: 34px;
}
.delete-order-item {
    padding: 16px;
}

.button {
    width: 100%;
    margin-bottom: .5rem;
}

}

.order-total-line {
    font-size: 18px;
}
.order-total-line:first-child {
    margin-top: 1rem;
}
.order-total-line > span {
    width: auto;
    margin-left: 1rem;
    min-width: 80px;
}
.order-total-line > span:first-child::after {
    content: ':';
}
.order-total-line__total {
    font-size: 30px;
}

.layout-region-checkout-main [role] {
    background-color: var(--warmi-bg-dark);
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
    color: red;
}

@media (max-width: 1024px) {
.order-total-line {
    font-size: 14px;
}
.order-total-line__total {
    font-size: 20px;
}
}

.button#edit-actions-next {
    background-color: red;
}

/* REVISION */
#edit-review-contact-information .fieldset-wrapper {
    margin-top: 1rem;
    font-size: 18px;
}
#edit-review-payment-information .fieldset-wrapper {
    font-size: 18px;
    font-weight: 700;
    margin-top: 1rem;
}
#edit-review-payment-information .fieldset-wrapper > div {
    font-weight: 400;
    margin-top: 1rem;
}
#edit-review-shipping-information .address {
    margin-top: 1rem;
    font-size: 18px;
}
#edit-review-shipping-information-summary-0 {
    margin-top: 1rem;
    font-size: 18px;
}
#edit-review-shipping-information-summary-0 div {
    display: inline;
}
#edit-review-shipping-information-summary-0 div div:first-child {
    font-weight: 700;
}
#edit-review-shipping-information-summary-0 div div:first-child::after {
    content: ':';
}

/* COMPLETADO */
.checkout-pane-completion-message {
    width: 100%;
}
.checkout-complete > :not(:first-child) {
    margin-top: 2rem;
    border-top: 1px solid var(--warmi-bg-dark);
    padding-top: 2rem;
}
.checkout-complete__payment-data {
    font-size: 20px;
}
.checkout-complete__payment-data > * {
    margin-top: 1rem;
}
.checkout-complete h3 {
    font-size: 20px;
}
.checkout-complete__payment-instructions > :not(:first-child) {
    margin-top: .5rem;
}