:-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background:#e1eefc}
::-webkit-scrollbar-thumb{background:#003a78;}
::-webkit-scrollbar-thumb:hover{background:#fdb811}

::-moz-selection{color:#fff;background:#fdb811}
::selection{color:#fff;background:#fdb811}

.headerpage .contents {
    display: block;
}
@media (min-width: 900px) and (min-height: 600px) {
.headerpage .contents {
    display: contents;
}
}

.toggle {
    position: relative;
    display: none;
    float: left;
    margin-right: .25rem;
    width: 36px;
    height: 36px;
}
.toggle-icon {
    display: inline-block;
    height: 20px;
    width: 24px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.toggle-icon-bar, 
.toggle-icon-bar::before, 
.toggle-icon-bar::after {
    background-color: var(--warmi-text);
    display: block;
    position: absolute;
    border-radius: .25rem;
    height: 2px;
    width: 24px;
}
.toggle-icon-bar {
    top: 50%;
    transition-duration: .75ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggle-icon-bar::before, 
.toggle-icon-bar::after {
    content: '';
    display: block;
}
.toggle-icon-bar::before {
    top: -7px;
    transition: top 75ms ease .12s, opacity 75ms ease;
}
.toggle-icon-bar::after {
    bottom: -7px;
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-is-open .toggle-icon-bar {
    transform: rotate(45deg);
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-is-open .toggle-icon-bar::before {
    opacity: 0;
    top: 0;
}
.menu-is-open .toggle-icon-bar::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
.toggle-text {
    display: block;
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    color: var(--warmi-text);
}
@media (min-width: 900px) {
.toggle-text {
    font-size: 12px;
}
}

@media (max-width: 899px), (max-height: 600px) {
.toggle {
    display: block;
}
}

@media (max-width: 899px), (max-height: 600px) {
.toggle-close {
    position: fixed;
    background-color: var(--warmi-bg);
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: .9;
    transform: translate3d(-100%,0,0);
    transition: .4s transform;
}
.menu-is-open .toggle-close {
    transform: translate3d(0,0,0);
}
}

.title-block {
    font-size: 1.25em;
    margin-bottom: 2.5rem;
}
.title-block-display {
    color: var(--warmi-dark);
    font-size: .75em;
    letter-spacing: .25rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
@media (min-width: 600px) {
.title-block-display {
    font-size: 1.5em;
}
}

[class*='card-'] img {
    margin: auto;
}
[class*='card-'] div > :not(:first-child) {
    margin-top: 1.25rem;
}
[class*='card-'] svg {
    fill: var(--warmi-text);
    max-height: 100px;
    margin: auto;
}
.card-simple {
    margin-bottom: 2rem;
}
.card-simple div > * {
    padding-left: 5%;
    padding-right: 5%;
}
.card-simple h4 {
    text-transform: uppercase;
}
.card-simple h4 + p {
    font-size: .9em;
    margin-top: .75rem !important;
}

.mainpage-postcontent { 
    margin-top: 4rem;
}

.role-administrator .cartpage {
    top: 7rem;
}

.cart--cart-block .cart-block--contents {
    background-color: var(--warmi-bg);
    top: 4rem;
    border: 5px solid var(--warmi-ocean);
    box-shadow: 5px 5px 0px 0px var(--warmi-text);
    min-width: calc(100vw - 5rem);
    right: 2rem;
    max-height: calc(100vh - 4rem);
    position: fixed;
}
.cart-block--contents__inner {
    overflow-y: scroll;
    max-height: calc(100vh - 4rem);
}
.cart-block--contents__items {
    overflow-y: visible;
    max-height: 100%;
}
.cart--cart-block .cart-block--contents .cart-block--contents__links a {
    background-color: var(--warmi-ocean);
    color: white;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 1rem;
}
.cart-block footer {
    font-size: 12px;
}
.cart-flex {
    display: flex;
    border-bottom: 1px solid var(--warmi-text);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    font-size: 14px;
}
.cart-flex > div:first-child { 
    flex-grow: 1;
}
.cart-flex > div:first-child + div {
    margin-left: .5rem;
    margin-right: .5rem;
}
.cart-flex > div:first-child a {
    display: flex;
}
.cart-flex > div:first-child a > div:first-child {
    flex-basis: 75px;
    max-width: 75px;
    margin-right: .5rem;
}
.cart-flex > div h5 {
    font-size: 16px; 
    margin-bottom: .5rem;
}
@media (min-width: 500px) {
.cart--cart-block .cart-block--contents {
    min-width: 480px;
}
}

.pagina-header figure::after {
    content: '';
    mix-blend-mode: color;
    background-color: var(--warmi-bg);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: block;
    position: absolute;
}
.node-pedido .pagina-header figure::after {
    content: none;
}
.pagina-header img {
    max-width: 100%;
}

.pagina-intro p {
    font-size: 20px;
}
.pagina-body,
.pagina-cuerpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

[class*="cuerpo-"] div > *:not(:first-child) {
    margin-top: 1rem;
}
[class*="cuerpo-"] h3 {
    font-size: 24px;
}
[class*="cuerpo-"] h4 {
    font-size: 18px;
}
[class*="cuerpo-"] li {
    margin-top: .5rem;
}

.pagina-form form:not(.bef-exposed-form):not([class*='add-to-cart']) {
    max-width: 100%;
}


@media (min-width: 600px) {
.pagina-header figure {
    max-width: 75%;
}
.pagina-cuerpo {
    flex-basis: 40%;
    max-width: 40%;
}
.pagina-form {
    flex-basis: 55%;
    max-width: 55%;
}
.pagina-intro p {
    font-size: 28px;
}

[class*="cuerpo-"] {
    flex-basis: 48%;
    max-width: 48%;
}
[class*="cuerpo-"]:only-child,
.pagina-cuerpo:only-child {
    flex-basis: 100%;
    max-width: 100%;
}
}

/* FOOTER */
.arkyweb-footer {
    padding-top: 3vh;
    padding-bottom: 8vh;
    text-align: center;
}
.arkyweb-footer .container {
    border-top: 1px dashed var(--warmi-text);
    padding-top: 5vh;
}
.arkyweb-footer .block {
    margin-top: 2rem;
}

.arkyweb-footer .logo {
    float: none;
}
.arkyweb-footer .logo a {
    display: inline-block;
    margin: auto;
}

.footer-datos { 
    font-size: 15px;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-datos h5:not(:first-child) {
    margin-top: 1rem;
}

.nav-foo {
    font-size: 14px;
}

.block.by-arkyweb {
    font-size: 13px;
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    border-top: 1px solid var(--warmi-bg-dark);
    padding-top: 1rem;
}

@media (min-width: 900px) {

.arkyweb-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.arkyweb-footer .container > * {
    flex-basis: 30%;
    max-width: 30%;
}
.arkyweb-footer .container > *:last-child {
    flex-basis: 100%;
    max-width: 100%;
}

.arkyweb-footer .logo {
    float: left;
}

.footer-datos {
    text-align: right; 
    padding-left: 0;
    padding-right: 0;
}

}

/* HOVER */

.nav-sec .menu-item a,
.nav-zoo .menu-item a {
    position: relative;
    color: var(--warmi-ocean);
}
.nav-sec .menu-item a::after,
.nav-zoo .menu-item a::after {
    content: '';
    background-color: var(--warmi-text);
    width: 0;
    position: absolute;
    z-index: 0;
    height: 70%;
    left: 0;
    opacity: .2;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: .3s all;
}
.nav-sec .menu-item a:hover::after,
.nav-zoo .menu-item a:hover::after {
    right: 0;
    width: 100%;
    left: auto;
}

.menu-link::before {
    content: '';
    width: .5rem;
    height: .5rem;
    background-color: var(--warmi-link);
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transition: .3s left, .3s opacity;
}
.menu-item--active-trail .menu-link::before,
.menu-item:hover .menu-link::before,
.menu-link.is-active::before {
    left: -.75rem;
    opacity: 1;
}

.bef-exposed-form .form-actions { display: none; }

.producto-item img {
    transition: .4s transform;
}
.producto-item:hover img {
    transform: scale(1.2);
}

.title-term-sub::before,
body:not([class*='path-']) .title-term::before {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    position: relative;  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icon/empollerada.svg);
}
.title-term-sub::before {
    margin-bottom: 1rem;
    height: 75px;
}


body.role-anonymous:not(.inside-cart),
body.role-anonymous:not(.inside-cart) * {
    cursor: none;
}
.role-anonymous .dot {
  width: 16px;
  height: 16px;
  background-color: var(--warmi-link);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference; 
  pointer-events: none;
  transition: .25s width, .25s height, .25s background-color;
  display: block;
  z-index: 100;
}
.role-anonymous .dot.yes {
  width: 32px;
  height: 32px;
  background-color: red;
}
.role-anonymous .dot.yes-shop {
    width: 60px;
    height: 60px;
    background-color: var(--warmi-ocean);
    mix-blend-mode: normal; 
}
.role-anonymous .dot.yes-shop::before {
    content: 'compra ahora';
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    display: block;
    top: 1rem;
    line-height: 1;
    position: absolute;

}
.role-anonymous .dot.no {
  width: 48px;
  height: 48px;
  background-color: peru;
}