/* --- */

.banner-message h2 {
    font-size: 6vw; 
    letter-spacing: -.25rem;
    line-height: 1;
    text-align: center; 
    padding: 9vh 5vw 0;
    text-transform: uppercase;
    color: #000035;
}

.title-block {
    font-size: 1.25em;
    margin-bottom: 1rem;
}
.title-block-display {
    color: var(--warmi-dark);
    font-size: .75em;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
@media (min-width: 600px) {
.title-block-display {
    font-size: 1.5em;
}
}

.cartbutton {
    background-color: white;
    padding: .5rem 1rem;
    position: relative;
    z-index: 2;
    display: block;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    font-weight: 700;
}
.cartbutton-path {
    background-color: var(--warmi-text);
    position: absolute;
    transform: scalex(1.2) scaley(1.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

/* ---- */

.mainpage-content > .banner-powerful { 
    margin-top: 0;
    margin-bottom: 9rem;
}
.banner-powerful ul { 
    position: relative;
}
.banner-powerful ul li { position: relative; z-index: 2; }

@media (min-width: 600px) {
.banner-powerful ul {
    display: grid;
    grid-template-columns: 25% 1fr 1fr 1fr 28%;
    grid-template-rows: calc(3.5*var(--warmi-gap)) 1fr 2fr 1fr calc(5*var(--warmi-gap)) 1.5fr;
    grid-column-gap: var(--warmi-gap); 
    min-height: 45rem; 
}
.banner-powerful ul li:nth-child(1) { grid-column: 1/3;grid-row: 1/4; }
.banner-powerful ul li:nth-child(2) { grid-column: 2/5;grid-row: 4/-1; }
.banner-powerful ul li:nth-child(3) { grid-column: 4/-1;grid-row: 2/4; }

.banner-powerful li:nth-child(2) .powerful-colection h3 {
    bottom: auto;
    top: 1rem;
}
}
@media (min-width: 1200px) {
.banner-powerful ul {
    grid-template-columns: 25% 1fr 28%;
}
.banner-powerful ul li:nth-child(1) { grid-column: 1/2;grid-row: 1/4; }
.banner-powerful ul li:nth-child(2) { grid-column: 2/3;grid-row: 3/7; }
.banner-powerful ul li:nth-child(3) { grid-column: 3/-1;grid-row: 2/5; }
}

li:not(:first-child) [class*='powerful-'] {
     margin-top: var(--warmi-space);
}
[class*='powerful-'] {
    display: block;
    position: relative;
    text-align: center;
}
[class*='powerful-'] figure {
    overflow: hidden;
    margin-bottom: 1rem;
}
[class*='powerful-'] img {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
}
.powerful-colection {
    height: 100%;
    min-height: 250px;
    position: relative;
}
.powerful-colection figure {
    position: absolute;
    height: 100%;
    width: 100%;
}
.powerful-colection img {
    height: 100%;
}
.item-2 .powerful-more img {
    object-position: 50% 35%;
}
.powerful-colection h3 {
    position: absolute;
    color: var(--warmi-bg);
    font-size: 10vw;
    line-height: 1;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    text-align: left;
}
.powerful-more h4 {
    letter-spacing: .5vw;
    line-height: 1.25;
    padding-left: 10%;
    padding-right: 10%;
    text-transform: uppercase;
}

@media (min-width: 600px) {
.powerful-colection h3 {
    font-size: 2.25vw;
}
}

@media (min-width: 900px) {
.item-1 .powerful-more {
    top: 1.5rem;
}
.item-3 .powerful-more {
    top: 3rem;
}
.item-4 .powerful-more {
    top: -2.5rem;
}
}