.banner-message h2::before {
    content: '';
    width: 100%;
    height: 150px;
    display: block;
    position: relative; 
    margin-bottom: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../icon/empollerada.svg);
}

.banner-powerful ul span {
    content: '';  
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;   
    position: absolute;
    height: 90%;
    margin: auto;
    left: calc(-1*var(--warmi-space));
    right: 0;
    top: 5%;
    width: calc(100% + calc(2*var(--warmi-space)));
    z-index: -1;
}

@media (min-width: 600px) {

.banner-powerful ul span {
    height: 95%;
    left: 0;
    top: -10vh;
    width: 75%;
}

}

.block-slogans {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: calc(-1*var(--warmi-space));
    margin-left: calc(-1*(var(--warmi-width) + 1rem));
}
.slogans {
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .5rem;
    overflow: hidden;
}
.slogans a {
    color: transparent;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px var(--warmi-text); 
    transition: .30s all;
}
.slogans a:hover {
    background-color: var(--warmi-text);
    -webkit-text-stroke-color: var(--warmi-bg);
}
.slogans a span {
    display: inline-block;
    opacity: 1;
    z-index: 1;
    transition: .3s opacity;
    animation: marquee_second 12s linear infinite;
}
.slogans:first-child a span {
    display: inline-block;
    animation: marquee_first 10s linear infinite;
}
.slogans a:hover span {
    opacity: 0;
    animation-play-state: paused;
}
.slogans a small {
    position: absolute;
    top: 45%;
    display: block;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    bottom: 0;
    margin: auto;
    line-height: 1;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: .3s opacity;
}
.slogans a:hover small {
    opacity: 1;
}
@media (min-width: 900px) {
.slogans {
    font-size: 3.33vw;
}
}

.arkyweb-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes marquee_first {
  0%    { transform:translate3d(85%, 0, 0); } 
  100%  { transform:translate3d(-110%, 0, 0); }
}
@keyframes marquee_second {
  0%    { transform:translate3d(75%, 0, 0); } 
  100%  { transform:translate3d(-100%, 0, 0); }
} 

/* --- */

@media (min-width: 1800px) {
    .banner-powerful {
        padding-left: 15%;
        padding-right: 15%;
    }
    .block-70[class*='banner-'] {
        padding-left: 20%;
        padding-right: 20%;
    }
    .banner-powerful-more {
        padding-left: 10%;
        padding-right: 10%;
    }
}

[class*="powerful-"] img {
    transition: 1.5s transform;
}
.powerful-colection:hover img,
.powerful-more:hover img {
    transform: scale(1.25);
}

.powerful-more .figure {
    position: relative;
}
.powerful-more .figure::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(57,154,176,.25);
    z-index: -1;
    transition: .3s left, .3s top;
}
.powerful-more:hover .figure::after {
    left: .5rem;
    top: .5rem;
}
.powerful-more .figure figure {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .3s left, .3s top;
}
.powerful-more:hover .figure figure {
    top: -.5rem;
    left: -.5rem;
}
.powerful-more h4 {
    transition: .4s letter-spacing;
}
.powerful-more:hover h4 {
    letter-spacing: .35vw;
}