.mainpage {
    padding-top: 5vh;
}
.title {
    font-size: 8vw;
    text-align: center;
    margin-bottom: 3rem;
}
.commerce-checkout {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

table {
    width: 100%;
}

thead th {
    border-bottom: 2px solid var(--warmi-text);
    padding: .5rem 1rem;
    text-align: center;
}
thead th:first-child {
    text-align: left;
}
tbody td {
    border-bottom: 1px dotted var(--warmi-text);
    text-align: center;
    padding: 1rem .5rem; 
}
tbody td:first-child {
    min-width: 49%;
    text-align: left;
    padding-left: 0;
}
tbody td:first-child a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}
tbody td:first-child a > div {
    flex-grow: 1;
    padding-left: 1rem;
}
tbody td:first-child a > div:first-child {
    padding-left: 0;
    flex-basis: 100px;
    max-width: 100px;
}
tbody td:first-child a h5 {
    font-size: 16px;
}
tbody td:first-child p {
    margin-top: .25rem;
    line-height: 1;
    font-size: 12px;
}

.layout-checkout-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.layout-region-checkout-main,
.layout-region-checkout-secondary,
.layout-region-checkout-footer {
    max-width: 100%;
    flex-basis: 100%;
}

.layout-region-checkout-secondary h3 {
    font-size: 24px;
    margin-bottom: .5rem;
}

@media (min-width: 900px) {
.layout-region-checkout-main {
    max-width: 60%;
    flex-basis: 60%;
}
.layout-region-checkout-secondary {
    max-width: 35%;
    flex-basis: 35%;
}
}

.checkout-pane-order-summary {
    background-color: var(--warmi-text);
    color: white;
    padding: 1rem;
}
.checkout-pane-order-summary tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.checkout-pane-order-summary tbody td:first-child {
    max-width: 60px;
    flex-basis: 60px;
    min-width: 0;
}
.checkout-pane-order-summary td.views-field-purchased-entity {
    flex-basis: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding: 10px;
    border-bottom-color: white;
}
.checkout-pane-order-summary tbody td:last-child {
    max-width: 60px;
    padding-right: 0;
    flex-basis: 60px;
    font-size: 14px;
    padding-left: 0;
}
/* card - item */
.checkout-pane-order-summary td.views-field-purchased-entity a div {
    text-align: left;
    line-height: 1;
    font-size: 12px;
}
.checkout-pane-order-summary td.views-field-purchased-entity a div:first-child {
    display: none;
}
.checkout-pane-order-summary td.views-field-purchased-entity a h5 {
    font-size: 16px;
    margin-bottom: .25rem;
}