
.bef-exposed-form > div {
    text-align: right;
    margin-bottom: .5rem;
}
.bef-exposed-form label {
    font-weight: 700;
    font-size: 12px;
    margin-right: .5rem;
}
.bef-exposed-form select {
    -moz-appearance: inherit;
    -webkit-appearance: inherit;
    border: 1px solid var(--warmi-text);
    color: var(--warmi-text);
    font-family: inherit;
    background-color: transparent;
    padding: .5rem 1rem;
    font-size: 13px;
}

@media (min-width: 900px) {
.bef-exposed-form { 
    display: block;
}
}

.breads ol {
    display: inline-block;
    font-size: 14px;
}
.breads ol li {
    display: inline;
}
.breads ol li:first-child {
    display: none;
}
.breads ol li:not(:last-child)::after {
    content: '>';
    margin-left: .5rem;
    margin-right: .5rem;
}

.warmichic-mensajes {
    flex-basis: 100%;
    max-width: 100%;
}
.warmichic-derecha > .warmichic-mensajes {
    display: none;
    flex-basis: auto;
}
@media (min-width: 600px) {
.warmichic > .warmichic-mensajes {
    display: none;
}
.warmichic-derecha > .warmichic-mensajes {
    display: block;
}   
}

.pswp__bg {
    background-color: var(--warmi-bg);
    opacity: .95 !important;
}
.pswp__ui--fit .pswp__caption, .pswp__ui--fit .pswp__top-bar {
    background-color: transparent;
}
.pswp__button, .pswp__button--arrow--left::before, .pswp__button--arrow--right::before {
    background-color: var(--warmi-text);
}

.producto-item figure::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    border: 0 solid var(--warmi-text);
    z-index: 2;
    top: 0;
    transition: .3s border-width;
}
.producto-item:hover figure::after {
    border-width: 20px;
}
.producto-item img {
    transition: .4s transform;
}
.producto-item:hover img {
    transform: scale(1.2);
}
.producto-precio {
    transition: .3s background-color, .3s color;
}
.producto-item:hover .producto-precio {
    background-color: var(--warmi-text);
    color: white;
}
.producto-item small {
    transition: .3s letter-spacing;
}
.producto-item:hover small {
    letter-spacing: 1px;
}

.libre-item > :not(:first-child) {
    margin-top: 1rem;
}
.libre-item img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 300px;
}
.libre-item > h3 {
    font-size: 1.5em;
}
.libre-item > p {
    font-size: 14px;
}
.libre-item > a {
    display: inline-block;
    position: relative;
    font-size: 14px;
}
.libre-item > a::after {
    content: '';
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    display: block;
    background-color: var(--warmi-text);
    right: 0;
    transition: .3s width;
}
.libre-item > a:hover::after {
    left: 0;
    width: 100%;
}