.container.container-right {
    margin-top: 10vh;
}

.producto-item {
    display: block;
    text-align: center;
    position: relative;
}
.producto-item > :not(figure) {
    margin-top: 1rem;
}
.producto-item figure {
    overflow: hidden;
}
.producto-item img {
    max-width: 100%;
    height: auto;
}
.producto-item > h3 {
    font-size: 1.5em;
}
.producto-item > p {
    margin-top: .5rem;
}
.producto-precio {
    display: inline-block;
    border: 1px solid var(--warmi-text);
    font-size: .9em;
    padding: .5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    font-size: 1em;
}
.producto-precio strong {
    font-weight: 700;
}
.producto-item small {
    display: block;
    line-height: 1;
    font-size: .85em;
    font-weight: 700;
    position: relative;
}

.title-term {
    font-size: 13vw;
    color: var(--warmi-link); 
    text-align: center;
}
.title-term-sub {
    color: var(--warmi-link); 
    text-align: center; 
    font-size: 1.75em;
}
.description-term {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

@media (min-width: 600px) {
.description-term     {
    margin-left: 10%;
    margin-right: 10%;
}
}

@media (min-width: 900px) {
.title-term {
    font-size: 7vw;
}
}

.bef-exposed-form { 
    display: none;
}