<a{{ attributes.addClass('producto-item') }} href="{{ product_url }}">

    <figure>{{ product.field_product_img }}</figure>

    <h3>{{ product.title }}</h3>

    <p>{{ product.field_descripcion_micro }}</p>

    <div class="producto-precio">
        {{'Todo tuyo por'|t}} <strong>{{ product.variation_price }}</strong>
    </div>

    <small>{{'Mira tu producto'|t}}</small>

</a> 