{{ attach_library( 'arky8/commercial' ) }}

<article{{ attributes.addClass('warmichic') }} id="warmis">
{#  {{- product|without('variation_attributes') -}} #}

    <div class="warmichic-mensajes">

        {{ drupal_messages() }}

    </div>

    <header class="warmichic-header text-center">

        <div class="breads">
            {{ drupal_block('system_breadcrumb_block') }}
        </div>

        <h3 class="warmichic--titulo">
            {{ product.title }}
            {{ product.label }}
        </h3>

        <div class="warmichic--precio">
            {{ product.variation_price }}
        </div>

    </header>

    <div class="warmichic-izquierda">

        {{ product.variation_field_product_var_img }}

    </div>

    <div class="warmichic-derecha">

        <div class="breads">
            {{ drupal_block('system_breadcrumb_block') }}
        </div>

        <div class="warmichic-mensajes">

            {{ drupal_messages() }}

        </div>

        <h1 class="warmichic--titulo">
            {{ product.title }}
            {{ product.label }}
        </h1>

        <div class="warmichic--precio">
            {{ product.variation_price }}
        </div>

        <div class="warmichic--descripcion">
            <h5>{{ 'Descripción'|t }}</h5>
            {{ product.field_descripcion }}
        </div>

        <div class="warmichic--variacion">
            {{ product.variations }}
        </div>

    </div>

    <footer class="warmichic-footer text-center">

        <div class="warmichic--condicion">
            {{ product.field_descripcion_reglas }}
        </div>

        <div class="warmichic--compartir">
            <h5>{{ '💪💪💪💪 ¡Empollérate! ¡Pasa la voz ahora! 💪💪💪💪'|t }}</h5>
            <ul>
                <li class="share-facebook">
                    <a 
                        class="facebook" 
                        href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" 
                        target="_blank">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-9" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264 512" data-fa-i2svg=""><path fill="currentColor" d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"></path></svg>
                    </a>
                </li> 
                <li class="share-messenger">
                    <a 
                        class="messenger" 
                        href="fb-messenger://share/?link={{ url('<current>') }}"
                        target="_blank">
                        <svg class="svg-inline--fa fa-facebook-messenger fa-w-14" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-messenger" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 32C15.9 32-77.5 278 84.6 400.6V480l75.7-42c142.2 39.8 285.4-59.9 285.4-198.7C445.8 124.8 346.5 32 224 32zm23.4 278.1L190 250.5 79.6 311.6l121.1-128.5 57.4 59.6 110.4-61.1-121.1 128.5z"></path></svg>        
                    </a>
                </li>
                <li class="share-wasap">
                    <a 
                        class="whatsapp" 
                        href="whatsapp://send?text=Mira esto de Warmichic '{{ product.title }}' Visite: {{ url('<current>') }}>>" 
                        data-action="share/whatsapp/share">
                        <svg class="svg-inline--fa fa-whatsapp fa-w-14" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>
                    </a> 
                </li>
            </ul> 
        </div>

    </footer>

    {% if product.field_relacionados|render %}

    <div class="relacionados">

        <h4 class="title-block-display text-center">{{ 'Te pueden también gustar'|t }}</h4>

        <ul class="grids grids-for-4"> 
            {% for key, item in product.field_relacionados if key|first != '#' %}
            <li class="rels rels-0{{ loop.index }}">{{ item }}</li>
            {% endfor %} 
        </ul>

    </div>

    {% endif %}

</article>    