<div class="checkout-complete text-center">

    <div class="checkout-complete__payment-data">
        <h2>{{ 'Tu número de compra en este portal es el número @number.'|t({'@number': order_entity.getOrderNumber}) }}</h2>
        <p>{{ 'Llegará al correo que nos brindaste, la información de la compra'|t }}</p>
        <p>{{ 'Cualquier duda o consulta sobre la compra llamar al (+51) 013639336' }}</p>
    </div>

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h3>{{ 'Payment instructions'|t }}</h3>
      {{ payment_instructions }}
    </div>
  {% endif %}

    <div class="checkout-complete__payment-more">
    </div>

</div>