{{ attach_library( 'arky8/inlcude_swiper' ) }}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'swiper-container',
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
{% if multiple %}

<div{{ attributes.addClass(classes, 'field--items') }}>

  <div class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

    {% for item in items %}
      <figure class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a 
          href="{{ file_url(item.content['#item'].entity.uri.value) }}" 
          data-size="{{ item.content['#item'].width }}x{{ item.content['#item'].height }}" 
          itemprop="contentUrl"
        >
          <img 
            src="{{ file_url(item.content['#item'].entity.uri.value|image_style('800x800')) }}" 
            title="{{ item.content['#item'].title }}" 
            alt="{{ item.content['#item'].alt }}" 
            itemprop="thumbnail" 
          />
        </a>
      </figure>
    {% endfor %} 

  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
        
  </div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close"></button>
                <button class="pswp__button pswp__button--share"></button>
                <button class="pswp__button pswp__button--fs"></button>
                <button class="pswp__button pswp__button--zoom"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left"></button>
            <button class="pswp__button pswp__button--arrow--right"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endif %} 

<style>
  .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: transparent;  
        display: flex; 
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    }
    .swiper-slide a {
        display: block;
        height: 100%;
    }
    .swiper-container img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
</style>

{{ attach_library( 'arky8/include_photoswipe' )}}