<div class="auth-user-form">
  <form{{ attributes }}>
    <h2 class="form-header">{% block form_header %}{% endblock %}</h2>
    {{ children }}
  </form>
  <div class="auth-user-form--footer">
    {% block form_footer %}{% endblock %}
  </div>
</div>