{% extends "form--user-form.html.twig" %}
{% block form_footer %}
	<h3>{{('Do you want to login?'|t)}}</h3>
  	<h4><a href="{{ path('user.login') }}">{{ 'Access here'|t }}</a></h4>
  	<!--<h3>{{('Not a member yet?'|t)}}</h3>
  	<h4><a href="{{ path('user.register') }}">{{ 'Signup'|t }}</a></h4>-->
{% endblock %}