{% extends "form--user-form.html.twig" %}
{% block form_footer %}
  <!--<h3>{{('Not a member yet?'|t)}}</h3>
  <h4><a href="{{ path('user.register') }}">{{ 'Signup'|t }}</a></h4> -->
  <h3>{{('Have you forgot your password?'|t)}}</h3>
  <h4><a href="{{ path('user.pass') }}">{{ 'Reset your password'|t }}</a></h4>
{% endblock %}