{# MIANPAGE: Content + PostContent #}
    <main id="mainpage" class="mainpage">
        <div class="container container-right">

            {{ drupal_messages() }}

            {{ page.content }} 

        </div>
    </main>