{# MIANPAGE: Content + PostContent #}
    <main id="mainpage" class="mainpage">
        <div class="container container-right">

            {{ page.content }}

            {% if page.pc %}
            <section class="mainpage-postcontent">
                {{ page.pc }}
            </section>
            {% endif %}

        </div>
    </main>