{% if page.footer %}
<footer class="arkyweb-footer">
    <div class="container">
        {{ page.footer }}
        <div class="block by-arkyweb text-center">
            <a href="https://arkyweb.com" target="_blank" rel="follow">
                Diseño Web y Página Web hechos por <strong>Arkyweb</strong> en Lima, Perú
            </a>
        </div>
    </div>
</footer>
{% endif %}