{% if page.header %}
    <header class="headerpage">
         <div class="headerpage-container container container-left sticky">
            {{ page.logo }}
            <div class="contents">
                {{ page.header }}
                <div class="block by-arkyweb">
                    <a href="https://arkyweb.com" target="_blank" rel="follow">
                        Diseño Web y Página Web hechos por <strong>Arkyweb</strong> en Lima, Perú
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endif %}