{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE SIMPLES          #}
{# ---------------------------------------- #}
{% set PEDIDO_INTRO_VALUE = node.field_introduccion.value %}

{% set TITULO = label %}

{% set IMAGEN = content.field_imagen_principal %} 
{% set CUERPO = content.body %}

{% set ID = node.id %} 

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}
<section{{ attributes.addClass('mainpage-content mainpage-node mainpage-page') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<header class="pagina-header">
    <h1 id="title" class="title">{{ TITULO }}</h1>
    <figure>{{ IMAGEN }}</figure>
</header>

{% if PEDIDO_INTRO_VALUE|length > 0 %}
<article class="pagina-intro">
    <p>"{{ PEDIDO_INTRO_VALUE }}"</p>
</article>
{% endif %}

<div class="pagina-body">

<article class="pagina-cuerpo">
    {% if node.body.value|length > 0 %}
    <div class="pagina-cuerpo-0">
        {{ CUERPO }}
    </div>
    {% endif %}  
</article>

<aside class="pagina-form">
    {{ drupal_entity('webform', 'pedidos') }} 
</aside>

</div>

</section> {# CULMINA EL DIV DEL NODE #}