{# ---------------------------------------- #}
{# VARIABLES PARA SISTEMA SEGURIDAD         #}
{# ---------------------------------------- #}

{% set LOGO = content.field_logo %}

<div style="display: contents" {{ attributes }}>

{{ title_prefix }} 
{{ title_suffix }}

<a href="#" id="toggle" class="toggle">
    <span class="toggle-icon">
        <span class="toggle-icon-bar"></span>
    </span>
    <span class="toggle-text">Menú</span>
</a>

{% if is_front %}
<h1 id="logo" class="logo">
{% else %}
<h2 id="logo" class="logo">
{% endif %}
    <a href="/" title="Warmichic">
        {{ LOGO }}
    </a>
{% if is_front %}
</h1>
{% else %}
</h2>
{% endif %}

</div>{# CULMINA EL DIV DEL NODE #}