{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE PRINCIPAL 		#}
{# ---------------------------------------- #}

{% set PORTADA_SLOGAN_VALUE = node.field_slogan.value %}

{% set PORTADA_BG = file_url(node.field_portada_img.entity.fileuri) %}

{% set PORTADA_AD_MAIN = content.field_portada_ad_main %}
{% set PORTADA_AD_MAIN_EXIST = node.field_portada_ad_main.value %}

{% set PORTADA_AD_SEC = content.field_portada_ad_sec %}
{% set PORTADA_AD_SEC_EXIST = node.field_portada_ad_sec.value %}

{% set PORTADA_AD_SIMPLE = content.field_portada_ad_simple %}
{% set PORTADA_AD_SIMPLE_EXIST = node.field_portada_ad_simple.value %}

{% set PORTADA_AD_SLOGAN = content.field_portada_ad_slogan %}
{% set PORTADA_AD_SLOGAN_EXIST = node.field_portada_ad_slogan.value %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<section{{ attributes.addClass('mainpage-content') }}> 

{{ title_prefix }} 
{{ title_suffix }}

{% if PORTADA_SLOGAN_VALUE|length > 0 %}
<div class="banner-message">
    <h2>{{ PORTADA_SLOGAN_VALUE }}</h2>
</div>
{% endif %}

{% if PORTADA_AD_MAIN_EXIST|length > 0 %}
<div class="block banner-powerful">
<h4 class="title-block-display text-center">{{ 'Nuestras colecciones'|t }}</h4>
<ul>
    {% for key, item in PORTADA_AD_MAIN if key|first != '#' %}
    <li class="item-0{{ loop.index }}">{{ item }}</li>
    {% endfor %}
    {% if node.field_portada_img[0].value|length > 0 %}
        <span class="image" style="background-image: url( {{ PORTADA_BG }} )">
    {% endif %} 
</ul>
</div>
{% endif %}

{% if PORTADA_AD_SEC_EXIST|length > 0 %}
<div class="block banner-powerful-more grids-for-2 block-70">
<h4 class="title-block-display">{{ 'También tenemos'|t }}</h4>
<ul class="grids">
    {% for key, item in PORTADA_AD_SEC if key|first != '#' %}
    <li class="item-0{{ loop.index }}">{{ item }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if PORTADA_AD_SIMPLE_EXIST|length > 0 %}
<div class="block banner-powerful-more grids-for-4">
<h4 class="title-block-display">{{ 'Y más'|t }}</h4>
<ul class="grids">
    {% for key, item in PORTADA_AD_SIMPLE if key|first != '#' %}
    <li class="item-0{{ loop.index }}">{{ item }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if PORTADA_AD_SLOGAN_EXIST|length > 0 %}
<div class="block-slogans"> 
    {% for key, item in PORTADA_AD_SLOGAN if key|first != '#' %}
    <article class="slogans slogans-0{{ loop.index }}">{{ item }}</article>
    {% endfor %} 
</div>
{% endif %} 

</section> {# CULMINA EL DIV DEL NODE #}