{# ---------------------------------------- #}
{# VARIABLES PARA SISTEMA SEGURIDAD         #}
{# ---------------------------------------- #}

{% set LOGO = content.field_logo %}

<div style="display: contents" {{ attributes }}>

{{ title_prefix }} 
{{ title_suffix }}

<h5 class="logo"> 
    <a href="/" title="Warmichic">
        {{ LOGO }}
    </a> 
</h5>

</div>{# CULMINA EL DIV DEL NODE #}