{# ---------------------------------------- #}
{# VARIABLES PARA SISTEMA SEGURIDAD         #}
{# ---------------------------------------- #}

{% set SISTEMA_SEGURIDAD = content.field_sistema_seguridad %}
{% set SISTEMA_SEGURIDAD_EXIST = node.field_sistema_seguridad.value %}

<div style="display: contents" {{ attributes }}>

{{ title_prefix }} 
{{ title_suffix }}

{% if SISTEMA_SEGURIDAD_EXIST|length > 0 %}
<h4 class="title-block">{{ 'Comprar en Warmichic es muy fácil y seguro'|t }}</h4>
<ul class="grids">
    {% for key, item in SISTEMA_SEGURIDAD if key|first != '#' %}
    <li class="card-simple item-0{{ loop.index }}">{{ item }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>{# CULMINA EL DIV DEL NODE #}