{# ---------------------------------------- #}
{# VARIABLES PARA SISTEMA DATOS             #}
{# ---------------------------------------- #}

{% set BODY = content.body %}

<div style="display: contents" {{ attributes }}>

{{ title_prefix }} 
{{ title_suffix }}

    {{ BODY }} 

</div>{# CULMINA EL DIV DEL NODE #}