{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE GENERAL          #}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set CUERPO = content.body %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}

<section{{ attributes.addClass('mainpage-content mainpage-node') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<header class="pagina-header">
    <h1 id="title" class="title">{{ TITULO }}</h1>
    {{ IMAGEN }}
</header>

<article class="pagina-cuerpo">
    {% if CUERPO|length > 0 %}
    <div class="pagina-cuerpo-0">
        {{ CUERPO }}
    </div>
    {% endif %} 
</article>

</section> {# CULMINA EL DIV DEL NODE #}