{# ---------------------------------------- #}
{# VARIABLES PARA TAXONOMY term             #}
{# {{ content }} {{ content.description }}  #}
{# ---------------------------------------- #}

{% set TITULO = name %}
{% set DESCRIPTION = term.description.value %}

<div class="taxonomy-head" style="display: contents"{{ attributes }}>
  
  {{ title_prefix }}
  {{ title_suffix }}

    {% if term.parent.0.target_id == 1 %}
        <h3 class="title-term-sub">Colección</h3>
    {% elseif term.parent.0.target_id == 2 %}
        <h3 class="title-term-sub">Casuales</h3>
    {% elseif term.parent.0.target_id == 3 %}
        <h3 class="title-term-sub">Accesorios</h3>
    {% else %}
    {% endif %}

    <h1 id="title" class="title-term">{{ TITULO }}</h1>

    <div class="description-term">{{ DESCRIPTION|raw }}</div>

</div>