{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE SIMPLES          #}
{# ---------------------------------------- #}
{% set SIMPLE_INTRO_VALUE = node.field_introduccion.value %}

{% set TITULO = label %}

{% set IMAGEN = content.field_imagen_principal %}
{% set SIMPLE_PRIMERO = content.field_cuerpo_primero %}
{% set SIMPLE_SEGUNDO = content.field_cuerpo_segundo %}
{% set CUERPO = content.body %}

{% set LIBRE = content.field_libre %}
{% set LIBRE_EXIST = node.field_libre.value %}
{% set LIBRE_TITLE = node.field_intro_libre.value %}

{% set ID = node.id %}

{% set REGION_SECOND = drupal_region('sidebar_second') %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA                #}
{# ---------------------------------------- #}
<section{{ attributes.addClass('mainpage-content mainpage-node mainpage-page') }}> 

{{ title_prefix }} 
{{ title_suffix }}

<header class="pagina-header">
    <h1 id="title" class="title">{{ TITULO }}</h1>
    <figure>{{ IMAGEN }}</figure>
</header>

{% if SIMPLE_INTRO_VALUE|length > 0 %}
<article class="pagina-intro">
    <p>"{{ SIMPLE_INTRO_VALUE }}"</p>
</article>
{% endif %}

<div class="pagina-body">

<article class="pagina-cuerpo">
    {% if node.body.value|length > 0 %}
    <div class="pagina-cuerpo-0">
        {{ CUERPO }}
    </div>
    {% endif %} 
    {% if node.field_cuerpo_primero.value|length > 0 %}
    <div class="pagina-cuerpo-1">
        {{ SIMPLE_PRIMERO }}
    </div>
    {% endif %}
    {% if node.field_cuerpo_segundo.value|length > 0 %}
    <div class="pagina-cuerpo-2">
        {{ SIMPLE_SEGUNDO }}
    </div>
    {% endif %}
</article>

{% if ID == '5' %}
<aside class="pagina-form">
    {{ drupal_entity('webform', 'contact') }} 
</aside>
{% endif %}

</div>

{% if LIBRE_EXIST|length > 0 %}
<div class="block libre grids-for-3">

    {% if node.field_intro_libre.value|length > 0 %}
    <h4 class="title-block-display">{{ LIBRE_TITLE }}</h4>
    {% endif %}

<ul class="grids">
    {% for key, item in LIBRE if key|first != '#' %}
    <li class="item-0{{ loop.index }}">{{ item }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

</section> {# CULMINA EL DIV DEL NODE #}