{# VARIABLES #}

{% set LINK = paragraph.field_ad_link.0.url %}
{% set TEXT_UP = paragraph.field_ad_txt_up.value %}
{% set TEXT_DOWN = paragraph.field_ad_txt_down.value %} 

<a href="{{ LINK }}" title="{{ TEXT_DOWN }}" alt="{{ TEXT_DOWN }}" {{ attributes }}> 

{{ title_prefix }} 
{{ title_suffix }}

    <span>{{ TEXT_UP }}</span>
    <small>{{ TEXT_DOWN }}</small> 
</a>