{# VARIABLES #}

{% set TITLE = paragraph.field_sic_title.value %}
{% set CUERPO = paragraph.field_sic_body.value %}
{% set ICONO = content.field_sic_svg %}

<div style="display: contents" {{ attributes }}>
    {{ title_prefix }} 
    {{ title_suffix }}
    <figure>
        {{ ICONO }}
    </figure>
    <h4>{{ TITLE }}</h4>
    <p>{{ CUERPO }}</p>
</div>