{# VARIABLES #}

{% set TITLE = paragraph.field_lbre_title.value %} 
{% set IMAGE_URL = file_url(paragraph.field_lbre_img.entity.fileuri) %}
{% set TXT = paragraph.field_lbre_txt.value %}

{% set LINK_URL = paragraph.field_lbre_link.0.url %}
{% set LINK_TITLE = paragraph.field_lbre_link.0.title %}


<article {{ attributes.addClass('libre-item') }}>

{{ title_prefix }} 
{{ title_suffix }}

<figure>
    <img src="{{ IMAGE_URL }}" />
</figure>

<h3>{{ TITLE }}</h3>

{{ TXT|raw }}

{% if paragraph.field_lbre_link.0.url|length > 0 %}
<a href="{{ LINK_URL }}" title="{{ LINK_TITLE }}"> 
    {{ LINK_TITLE }}
</a>
{% endif %}

</article>