{# VARIABLES #}

{% set LINK = paragraph.field_ad_link.0.url %}
{% set TEXT_UP = paragraph.field_ad_txt_up.value %}
{% set IMAGE_URL = file_url(paragraph.field_ad_img.entity.fileuri) %}

<a href="{{ LINK }}" title="{{ TEXT_UP }}" alt="{{ TEXT_UP }}" {{ attributes.addClass('powerful-colection') }}>
    {{ title_prefix }} 
    {{ title_suffix }}
    <figure>
        <img src="{{ IMAGE_URL }}" />
    </figure>
    <h3>{{ TEXT_UP }}</h3>
</a>