{# VARIABLES #}

{% set LINK = paragraph.field_ad_link.0.url %}
{% set TEXT_UP = paragraph.field_ad_txt_up.value %} 
{% set IMAGE_URL = file_url(paragraph.field_ad_img.entity.fileuri) %}

<a href="{{ LINK }}" title="{{ TEXT_UP }}" alt="{{ TEXT_UP }}" {{ attributes.addClass('powerful-more') }}>

{{ title_prefix }} 
{{ title_suffix }}

    <div class="figure">
        <figure>
            <img src="{{ IMAGE_URL }}" />
        </figure>
    </div>
    <h4> {{ TEXT_UP }}</h4>
</a>