{% set URL = url('<current>') %}
{% set TITULO = node.label %}

{% if node.getType == 'article' %}
<article id="share" class="block block-full block-60 share">
{% else %}
<article id="share" class="block block-full share">
{% endif %}

	<div class="block-inner meta">

		<h5>{{ 'Comparte desde'|t }}</h5>
				
		<p>
			<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ URL }}" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a> 
			<a class="twitter" href="https://twitter.com/intent/tweet?url={{ URL }}&text={{ TITULO }}" target="_blank">
				<i class="fab fa-twitter"></i>
			</a> 
			<a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ URL }}&title={{ TITULO }}" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a> 
			<a class="whatsapp" href="whatsapp://send?text=Lea sobre '{{ node.label }}' Visite: {{ URL }}>>" data-action="share/whatsapp/share">
				<i class="fab fa-whatsapp"></i>
			</a> 
			<a id="clipboard" class="clipboard" data-clipboard-text="{{ URL }}">
				<i class="fas fa-paste"></i>
			</a>
		</p>

	</div>

</article>

{{ attach_library( 'arky8/inlcude_clipboard' ) }}

<style>

.clipboard {
	position: relative;
}
.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 111px;
    background-color: white;
    animation-name: tooltip;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes tooltip{
  0%{
    opacity: 1; 
  }
  50%{
    opacity: 0.5; 
  }
  100%{
    display: none;
    opacity: 0; 
  }
} 

</style>