{% set IMAGEN = content.field_image %}

<div class="swiper-container">

{% if IMAGEN[0] %}
<div class="swiper-wrapper my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
{% for key, item in IMAGEN if key|first != '#' %}

{# VARIABLES solo para el key #}
{% set ITEM_URI = file_url(item['#item'].entity.fileuri) %}
{% set ITEM_ALT = item['#item'].alt %}
{% set ITEM_TITLE = item['#item'].title %}
{% set ITEM_HEIGHT = item['#item'].height %}
{% set ITEM_WIDTH = item['#item'].width %}

		<figure class="swiper-slide" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
			{# dirige al image-formatter.html.twig {{ item }} #}
			<a href="{{ ITEM_URI }}" data-size="{{ ITEM_WIDTH }}x{{ ITEM_HEIGHT }}" itemprop="contentUrl">
				<img src="{{ ITEM_URI }}" title="{{ ITEM_TITLE }}" alt="{{ ITEM_ALT }}" itemprop="thumbnail" />
			</a>  
		</figure>

{% endfor %}
</div>
{% endif %}

	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

{{ attach_library( 'arky8/inlcude_swiper' ) }}
{{ attach_library('arky8/include_photoswipe')}}

<style>
	.swiper-container {
		width: 100%;
      	height: 100%;
    }
    .swiper-slide {
      	text-align: center;
      	font-size: 18px;
      	background-color: #fff;  
      	display: flex; 
      	justify-content: center; 
      	align-items: center;
      	flex-direction: column;
    }
	.swiper-container img {
		max-width: 100%;
	}
</style>