{%
  set body_classes = [
    'site',
    not root_path ? 'home' : 'inside-' ~ root_path|clean_class,
    language ? 'lang-' ~ language|clean_class,
    not logged_in ? 'off' : 'in',
    not node_type ? 'config' : 'node-' ~ node_type|clean_class,
    db_offline ? 'offline',
    term_id ? 'taxo-' ~ term_id, 
    path_info.args ? 'path-' ~ path_info.args,
    current_path ? 'current' ~ current_path|clean_class,
    not page.sidebar_first and not page.sidebar_second ? 'cols-0',
    page.sidebar_first and not page.sidebar_second ? 'cols-1',
    page.sidebar_second and not page.sidebar_first ? 'cols-2',
    page.sidebar_first and page.sidebar_second ? 'cols-x'
  ]
%}

<!DOCTYPE html>
<html {{ html_attributes }}>

<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta property="fb:app_id" content=""> 

</head>

<body id="site" {{ attributes.addClass(body_classes) }}>

  <style media="all">
    {% include directory ~ '/templates/style/inline.css' ignore missing %}
  </style> 

  {{ page_top }}
  {{ page }} 
  {{ page_bottom }}

  <css-placeholder token="{{ placeholder_token|raw }}">

  <js-placeholder token="{{ placeholder_token|raw }}">
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  <script>
    {% include directory ~ '/templates/script/font.js' ignore missing %}
  </script>

  <span class="dot"></span>

</body>

</html>