{{ attach_library('arky8/custom') }}
{{ attach_library('arky8/style_tricky') }}

<section class="arkyweb-section">

	{% include '@arky8/-regions/header.html.twig' %}

	{% include '@arky8/-regions/close.html.twig' %}

	{% include '@arky8/-regions/content-simple.html.twig' %}

    {{ page.sidebar_first }}
    {{ page.sidebar_second }}

</section> {# Acaba SECTION #}

{% include '@arky8/-regions/footer.html.twig' %}