{{ attach_library('arky8/custom') }}
{{ attach_library('arky8/style_home') }}

<section class="arkyweb-section">

    {% include '@arky8/-regions/header.html.twig' %}

    {% include '@arky8/-regions/close.html.twig' %}

    {% include '@arky8/-regions/cart.html.twig' %}

	{% include '@arky8/-regions/content-full.html.twig' %}

</section> {# Acaba SECTION #}

{% include '@arky8/-regions/footer.html.twig' %}