body, body * { font-size: 1em; margin: 0; padding: 0; text-decoration: inherit; }
*, *:before, *:after { box-sizing: border-box; }

a { color: inherit; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 700; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; max-width: 200px; width: 100%; }
fieldset { border: 0; }
.visually-hidden { display: none; }

/* --- */

:root{
    --warmi-font: 'Signika', Arial, Helvetica, sans-serif;
    --warmi-bg: #F7EBE5;
    --warmi-bg-dark: #D1B4A6;
    --warmi-dark: #444;
    --warmi-gap: .5rem;
    --warmi-text: #725D55;
    --warmi-width: 100%;
    --warmi-space: .75rem;
    --warmi-ocean: #5974B1;
    --warmi-link: #B3378A;
}
@media (min-width: 480px) {
:root {
    --warmi-space: 1.5rem;
}
}
@media (min-width: 600px) {
:root {
    --warmi-gap: 1rem;
}
}
@media (min-width: 900px) {
:root {
    --warmi-width: 200px;
}
}
@media (min-width: 1024px) {
:root{
    --warmi-width: 250px;
    --warmi-space: 2rem;
}
}

/* ----- */

.site {
    background-color: var(--warmi-bg);
    color: var(--warmi-text);
    font-family: var(--warmi-font);
    font-weight: 400;
}

.arkyweb {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
}
[class*="arkyweb-"] {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}
.arkyweb-section {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;
}

@media (min-width: 900px) {

.arkyweb-section {
    flex-direction: row;
}

}

/* ----- */

.container {
    padding-left: var(--warmi-space);
    padding-right: var(--warmi-space);
}

@media (min-width: 900px) {
.container.container-left {
    padding-right: 1rem;
}
.container.container-right {
    padding-left: 1rem;
}
:not('.home') .container.container-right {
	margin-top: 10vh;
}
}

.grids {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: calc(-1*var(--warmi-gap));
    margin-right: calc(-1*var(--warmi-gap));
}
.grids > li {
    padding-left: var(--warmi-gap);
    padding-right: var(--warmi-gap);
    flex-grow: 1;
    flex-basis: 0;
    min-width: 100%;
    margin-bottom: 2rem;
}

@media (min-width: 480px) {
[class*='grids-for-'] .grids > li,
.grids[class*='grids-for-'] > li {
    flex-basis: 50%;
    min-width: 50%;
}
}

@media (min-width: 900px) {

.grids-for-2 .grids > li,
.grids-for-2.grids > li {
    flex-basis: 50%;
    min-width: 50%;
}
.grids-for-3 .grids > li,
.grids-for-3.grids > li {
    flex-basis: 33.333%;
    min-width: 33.333%;
}
.grids-for-4 .grids > li,
.grids-for-4.grids > li {
    flex-basis: 25%;
    min-width: 25%;
}

.grids-for-3.grids > li:first-child,
.grids-for-3.grids > li:only-child,
.grids-for-3.grids > li:first-child + li:last-child,
.grids-for-3.grids > li:last-child,
.grids-for-3.grids > li:nth-last-child(2) {
    max-width: 33.333%;
}
.grids-for-3.grids > li:only-child {
	margin-left: auto;
	margin-right: auto;
}

}

@media (min-width: 900px) {

.block-70 {
    padding-left: 15%;
    padding-right: 15%;
}

}

.block {
    flex-basis: 100%;
    max-width: 100%;
}
@media (min-width: 900px) {
.block-max-20 {
    flex-basis: 20%;
    max-width: 20%;
}
.block-max-30 {
    flex-basis: 20%;
    max-width: 20%;
}
.block-max-50 {
    flex-basis: 50%;
    max-width: 50%;
}

}

.warmichic-mensajes [role] {
    background-color: var(--warmi-text);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}
.sticky {
    position: sticky;
    top: 0;
}

/* COMUNES DE LA WEB */

.headerpage {
    flex-basis: 100%;
    font-size: 13px;
    max-width: 100%; 
    position: sticky;
    top: 0;
    z-index: 10;
}
.cartpage {
    position: fixed;
    right: var(--warmi-space);
    top: var(--warmi-gap); 
    width: auto; 
    z-index: 11;
}
.mainpage {
    flex-basis: 100%;
    flex-grow: 1;   
    max-width: 100%; 
    padding-bottom: 4rem;
}

.headerpage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
    padding-top: calc(1*var(--warmi-gap));
    padding-bottom: calc(2*var(--warmi-gap));
}

@media (min-width: 900px) and (min-height: 600px) {

.headerpage {
    flex-basis: var(--warmi-width); 
    max-width: var(--warmi-width);  
}

.mainpage {
    flex-basis: calc(100% - var(--warmi-width));  
    max-width: calc(100% - var(--warmi-width)); 
    padding-bottom: 7rem;
}

.headerpage-container {
    min-height: 100vh;
}
    
}

.mainpage-content > :not(:first-child) {
    margin-top: 2.5rem;
}
@media (min-width: 900px) {
.mainpage-content > :not(:first-child) {
    margin-top: 4rem;
}    
}

/* HEADER */

.toggle {
    display: none;
}
.header-logo { 
    max-width: 100%;
    display: flex;
}
.header-logo > div {
	display: contents;
}
.logo {
    float: left;
}
.logo img {
    display: inline-block;
    height: 2rem;
    margin-top: 7px;
}

.headerpage [class*='nav-'] { 
    margin-top: 1rem;
}
.nav-main {
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.nav-sec .menu-item a {
    text-transform: uppercase;
    line-height: 1.5;
}
.nav-main .menu-item:not(:first-child) {
    margin-top: .5rem;
}
.menu-link-sub {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 1rem;
    position: relative;
    color: var(--warmi-link);
}
.menu-link-sub::after {
    content: '';
    width: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--warmi-link);
    position: absolute;
    left: 0;
    transition: .3s width;
}
.menu-link-sub:hover::after {
    width: 100%;
}

.menu-link {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-right: 1rem;
    color: var(--warmi-link);
}
.dropdown::after {
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--warmi-link);
    position: absolute;
    display: block;
    position: absolute;
    right: 0;
    top: -4px;
    border-top: 2px solid var(--warmi-link);
    transform: rotate(135deg);
    bottom: 0;
    margin: auto;
    transition: .3s transform;
}
.dropdown-active::after {
    transform: rotate(-45deg);
    top: 0;
}

.headerpage .block.by-arkyweb {
    display: none;
    line-height: 1.25;
    font-size: 11px;
    margin-bottom: 2.5rem;
}

@media (max-width: 899px), (max-height: 599px) {

.menu-is-open {
    overflow-y: hidden;
}

.headerpage {
    background-color: var(--warmi-bg);
}
.headerpage .contents {
    display: block;
    position: fixed;
    background-color: var(--warmi-bg);
    z-index: 10;
    top: 6rem;
    width: 300px;
    min-height: calc(100vh - 6rem);
    overflow-y: auto;
    left: 0;
    padding-left: calc(2*var(--warmi-space));
    padding-right: calc(2*var(--warmi-space));
    height: 0;
    transform: translate3d(-300px,0,0);
    transition: .3s transform;
}
.menu-is-open .headerpage .contents {
    transform: translate3d(0,0,0);
}

.header-nav-main > ul > li:not(:first-child) {
    margin-top: 1.5rem;
}
.menu-sub li {
    display: inline-block;
    font-size: 15px;
}
.dropdown::after {
    content: none;
}

.headerpage .block.by-arkyweb {
    display: block;
}

}

@media (min-width: 900px) and (max-height: 599px) {

.headerpage .contents { 
    transform: translate3d(-350px,0,0);
    width: 350px;
}

}

@media (max-width: 599px) { 

.header-logo {
    max-width: 170px;
}
.logo img {
    height: 1.25rem;
}

.headerpage .contents {
    display: none;
    min-height: calc(100vh - 4rem);
    top: 4rem;
    transform: translate3d(-100%,0,0);
    width: 100%;
}

}

@media (min-width: 900px) and (min-height: 600px) {

.headerpage .contents {
    display: contents;
}
[class*="header-"]:not(ul) {
    display: flex;
}

.menu-sub {
    max-height: 0;
    overflow: hidden;
    transition: .30s max-height;
}
.menu-sub-show {
    margin-top: .25rem;
    max-height: 150px;
}

}

.cartpage .carrito-link { 
    display: flex; 
}
.cartpage .carrito-link [class*='icon'] {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #5974B1;
    border-radius: 50%;
    padding: .5rem;
    text-align: center;
}
.cartpage .carrito-link [class*='count'] {
    width: 1.5rem;
    height: 1.5rem;
    background: #74AFC9;
    border-radius: 50%;
    position: absolute;
    right: -.75rem;
    line-height: 1.5rem;
    text-align: center;
    top: -.5rem;
    color: white;
    font-weight: 700;
}
.cartpage .carrito-link svg {
    margin-right: .5rem;
    max-width: 20px;
    fill: white;
}

.toolbar.toolbar-oriented {
    position: relative;
    display: block;
    z-index: 20;
}