{%
  set classes = [
    '' ~ configuration.provider|clean_class,
    'system-' ~ plugin_id|clean_class,
  ]
%}

{# '' ~ plugin_id|clean_class #}

<div style="display: contents" {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %} 
      {{ content }} 
  {% endblock %}
</div> 