{%
  set classes = [
    'block',
    'branding',
    'block-' ~ configuration.provider|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>

{{ title_prefix }}
  {% if label %}
    <h4{{ title_attributes.addClass('bloque-titulo') }}>{{ label }}</h4>
  {% endif %}
{{ title_suffix }}

{% if is_front %} 
    <h1 id="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
    </h1> 
{% else %} 
    <h2 id="logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a> 
    </h2> 
{% endif %}

</div>