{%
  set classes = [
    'block',
    '' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div {{ attributes.addClass('grids-for-3 text-center') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div> 