{%
  set classes = [
    'block',
    '' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<nav role="navigation" {{ attributes.addClass(classes) }}>
  {{ title_prefix }} 
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>